body {
    font-family: Arial, sans-serif;
    margin:0 height;
    padding: 0;
    background-color: #E4E0E1;
}

.navbar {
    background-image: url(Gambar/foto\ atas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 0;
    height: 70px;
    position: relative;
    box-shadow: inset 0px -150px 30px 18px rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(15px);
    object-fit: cover;
}

.navigasi {
    text-align: center;
    font-family: "Open Sans", sans-serif;  
    font-size: large; 
}

.navigasi a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
}

.text {
    display: none;
    margin-top: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.p{
    padding: 20px;
    margin: 20px;
    background: #493628;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p:hover{
    box-shadow: 0 5px 30px black;
}

h2 {
    color: white;
}

footer {
    text-align: center;
    background: #AB886D;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10rem;
}
